<div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-top: 5px">
                        <div class="navbar-header">
                            <button  id="alterarSenha" name="alterarSenha" style="margin-top: 1%" class="btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Alterar Senha
                            </button>
                            <button type="button" class=" btn-sm navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button> 
                            <a class="navbar-brand" href="/indexAdmin">Bem vindo :  {{ user.nome }}</a> 
                            <button  id="funcoesAdmin" name="funcoesAdmin"  style="margin-bottom:-1%;" class="btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Funções de Admin
                            </button> 
                            <button  id="relUsers" name="relUsers" style="margin-top: 1%" class="btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Relatorio de Usuarios
                            </button>
                            <button  id="addmusic" name="addmusic" style="margin-top: 1%" class="btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Enviar Musica
                            </button>  
                            <button  id="relM" name="relM" style="margin-top: 1%" class="btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Relatório Musica
                            </button>
                            <button  id="addmusic" name="addmusic" style="margin-top: 1%" class="btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Editar Musica
                            </button>
                            <button   id="alterarEexcluir" style="margin-top: 0.2%" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Alterar/Excluir Dados
                            </button>                                                
                            <button id="sair" name="sair" style="margin-top: 0.2%" class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a href="/sair">Sair</a>
                            </button>                  
                        </div>                     
                      
                    </nav>
                </div>
            </div>
        </div>