 <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-top: 5px">
                        <div class="navbar-header">
                            <button  id="alterarSenha" name="alterarSenha" style="margin-top: 2%" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Alterar Senha
                            </button>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/indexUser">Bem vindo :{{ user.nome }}</a>                          
                        </div>  
                        <div class="dropdown" style="margin-left: 82%;" >
                            <button  id="alterarEexcluir" style="margin-top: 3%" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Alterar/Excluir Dados
                            </button>  
                            <button   name="sair" id="sair" style="margin-top: 3%" class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a href="/sair">Sair</a>
                            </button>
                        </div>
                    </nav>
                </div>            
            </div>
        </div>