<html>
    <head>
        <title>Rádio do Abner</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/npm.js" type="text/javascript"></script>
        <script src="js/scripts.js" type="text/javascript"></script>
        <script src="js/ajax.js" type="text/javascript"></script>
        <script src="js/funcoesDeSistema.js" type="text/javascript"></script>
    </head>

    <body>    
        {{include ('MenuLogadoAdmin.html')}}
        <div class="container">
            {% if dados != null%}
            <table class=" table table-bordered">
                <thead style="background-color: #1E90FF;color: #FFF">
                    <tr>
                        <th><center>Nome Completo</center></th>
                        <th><center>CPF</center></th>
                        <th><center>Telefone</center></th>
                        <th><center>Email</center></th>
                    </tr>
                </thead>
                <tbody>
                    {% for dado in dados %}
                    <tr class="active">       
                        <td>{{dado.nome}}</td>
                        <td>{{dado.cpf}}</td>
                        <td>{{dado.telefone}}</td>
                        <td>{{dado.email}}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>      
    </body>
</html>
