<html lang="pt">
    <head>
        <title>Rádio do Abner</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/npm.js" type="text/javascript"></script>
        <script src="js/scripts.js" type="text/javascript"></script>
        <script src="js/ajax.js" type="text/javascript"></script>
        <script src="js/funcoesDeSistema.js" type="text/javascript"></script>
    </head>
    <body>
        {{include ('MenuLogadoAdmin.html')}}
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3" style="margin-top:-5% ">
                    <div id="controles" class="">
                        <form id="formEditar">
                            <br>                         
                            <div id="divFisica">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Nome Completo:</div>
                                        <input type="text" class="form-control" name="nome" id="nome" value="{{user.nome}}" disabled="true"/>
                                    </div>                                   
                                </div>                              
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">CPF:</div>

                                        <input type="text" class="form-control cpf-mask" placeholder="Ex.: 000.000.000-00" name="cpf"  maxlength="11" id="cpf" value="{{user.cpf}}" disabled="true"/>                                      
                                    </div>                                  
                                </div>
                            </div>                                                                                   
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">Telefone:</div>
                                    <input type="tel" class="form-control phone-ddd-mask" placeholder="Ex.: (00) 0000-0000" maxlength="11" name="telefone" id="telefone"  value="{{user.telefone}}" disabled="true"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">E-mail:</div>
                                    <input type="email" class="form-control"  name="email" id="email" value="{{user.email}}" disabled="true"/>
                                </div>
                            </div>
                            
                            <div class="form-group" id="formBtnEditar">
                                <button type="reset" id="btnAlterarCliente" class="btn btn-default">Alterar</button>                    
                                <button type="reset" id="btnExcluirCliente" value="{{user.idUsuario}}" class="btn btn-danger">Excluir</button>
                                <button type="button" id="btnSalvarCliente" class="btn btn-success" disabled="true">Salvar</button>
                                <button type="button" id="btnCancelarCliente" class="btn btn-default" disabled="true" >Cancelar</button>
                            </div>
                            
                            <br>
                            <br>
                            <div class="form-group" id="retornoValidacao">

                            </div>
                        </form>
                    </div>                                                                
                </div>  
            </div>              
        </div> 
    </body>   
</html>
