<html lang="pt">
    <head>
        <title>Rádio do Abner</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/npm.js" type="text/javascript"></script>
        <script src="js/scripts.js" type="text/javascript"></script>
        <script src="js/funcoesDeSistema.js" type="text/javascript"></script>
        <script src="js/ajax.js" type="text/javascript"></script>
    </head>

    <body>                       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-top: 5px">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button> <a class="navbar-brand" href="index.php">Rádio do Abner</a>
                        </div>                      
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control"/>
                            </div> 
                            <div class="form-group">
                                <input type="text" class="form-control"/>
                            </div> 
                            <button type="button" class="btn btn-danger" id="entrar">
                                Entrar
                            </button>                   
                                <button type="" class="btn btn-default" style="margin-right: 5px;" id="cadastrar">                               
                                    <a href="/cadastro">Cadastrar-se</a>
                                </button>                         
                        </form>
                </div>
                </nav>
            </div>
        </div>
    </div>                                           
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="controles" class="">
                    <center><img id="logo" src="img/logo.png"></center>
                    <div id="controles2">
                        <center><h2>Display</h2></center>

                        <center><button class="btn btn-default btn-lg" disabled="true" id="btnPlay" onclick="play()"> 
                                <span class="glyphicon glyphicon-play"></span> 
                            </button>                             
                            <button class="btn btn-default btn-lg" id="btnPause" onclick="pause()"> 
                                <span class="glyphicon glyphicon-pause"></span> 
                            </button>
                            <button class="btn btn-default btn-lg" onclick="volumeMenos()"> 
                                <span class="glyphicon glyphicon-volume-down"></span> 
                            </button>
                            <button class="btn btn-default btn-lg" onclick="volumeMais()"> 
                                <span class="glyphicon glyphicon-volume-up"></span> 
                            </button>
                            <button class="btn btn-default btn-lg" onclick="volumeMudo()"> 
                                <span class="glyphicon glyphicon-volume-off"></span> 
                            </button></center>                   
                    </div>
                </div>  
            </div>              
        </div>
    </div>
    <audio id="tocador">
        <source src="http://181fm-edge1.cdnstream.com/181-hairband_128k.mp3?cb=512585.mp3" type="audio/mpeg">
    </audio> 
</body>   
</html>